<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1 style="color: red;">Agora sim ein</h1>
  <hr>
  <p>esse e um pdf</p>
  <p>Nome: <%= nome %></p>
  <p>Curso: <%= curso %></p>
  <p>Categoria: <%= categoria %></p>
  <img src="https://nodejs.org/static/images/logo.svg"/>

</body>
</html>